<%# have page title %>
<% content_for :head do %>
  <title>home - forecast</title>
<% end %>

<div align="center">
  <h1 class="heading">forecast</h1>
  <p class="about"><b>forecast</b> is an application made for fanfiction readers and writers of all fandoms to come together with extensive tagging, and a great search engine <a href="https://www.youtube.com/watch?v=dvIw8nPfhjQ">that <i>clearly</i> isn't underpaid and in her twenties</a>.</p>
</div>